<div class="modal-body" id="modal-body">
    <div style="height: 100%" id="chart"></div>
    <div ng-if="chartType === 'pedestrian'" id="chart2"></div>
    <div ng-if="chartType === 'pedestrian'" id="chart3"></div>
    <p class="left-text" ng-if="chartType === 'pedestrian'">
        Street trees create a safe enjoyable walking environment for pedestrians, who
        benefit from cooler temperatures, less exposure to UV, protection from cars, and many more
        hazards.  Additionally, trees have been shown to have a calming effect on people, reminding
        them of nature and reducing their stress.
    </p>
    <p class="left-text" ng-if="chartType === 'environmental'">
        Trees absorb carbon dioxide during photosynthesis, which helps mitigate
        the greenhouse gas effect. Urban trees are especially beneficial because they
        also keep unwanted pollutants out of the air.  Also, when it rains trees absorb
        water in both their leaves and trunks, trapping it to later be released or evaporated.
        This can help mitigate runoff and preserve water for climates with infrequent rainstorms.
    </p>
    <p class="left-text" ng-if="chartType === 'traffic'">
        Street trees create a natural tunnel effect which reminds drivers to drive slower,
        leading to fewer accidents and safer streets. Additionally, the calming effects can
        reduce road rage and angry driving.
    </p>
    <p class="left-text" ng-if="chartType === 'economic'">
        Trees have significant economic impact on their nearby area and can be a surprisingly
        fruitful investment.  Property values for a building can increase up to 20% by creating
        a more pleasing environment.  In addition, trees have a natural cooling effect on buildings
        by putting them in the shade which can save on air conditioning the building.  Also, due
        to increased pedestrian traffic and a more friendly walking environment, research has shown
        that businesses have a 12% higher income if the area around them has trees.
    </p>
</div>
<div class="modal-footer">
    <button style="bottom: 0;" class="btn btn-warning" ng-click="$ctrl.cancel()" type="button">Cancel</button>
</div>
