<div id="footer">
    <div class="btn-group btn-group-justified" style="width: 100%" role="group">
        <a class="btn success" ng-click = "vm.loadTable()">Environmental Benefits</a>
        <a class="btn default" ng-click="vm.loadPedestrianChart()">Pedestrian Level</a>
        <a class="btn success" ng-click = "vm.CarbonloadChart()">Carbon Emission</a>
        <a class="btn info"  ng-click = "vm.CrimeloadChart()">Crime Decrease</a>
        <a class="btn warning"  ng-click = "vm.WaterloadChart()">Water Retention</a>
        <a class="btn danger" ng-click = "vm.TrafficloadChart()">Traffic Reduction</a>
    </div>
</div>