<div id="footer" class="col" ng-controller = "TreeMapController as vm">

    <button class="btn success" ng-click = "vm.loadTable()">Environmental Benefits</button>
    <button class="btn default" ng-click="vm.loadPedestrianChart()">Pedestrian Level</button>
    <button class="btn success" ng-click = "vm.CarbonloadChart()">Carbon Emission</button>
    <button class="btn info"  ng-click = "vm.CrimeloadChart()">Crime Decrease</button>
    <button class="btn warning"  ng-click = "vm.WaterloadChart()">Water Retention</button>
    <button class="btn danger" ng-click = "vm.TrafficloadChart()">Traffic Reduction</button>

</div>