
<div id="header" class="col-xs-12">
    <div class="row">
        <div class="col-md-3 alert alert-info">
            <img src="../img/TreeLogo.png" alt="Tree Logo" width="75" height=s"75">
            <h2><b> Treety! </b></h2>
            <button class="btn success" ng-controller="TreeMapController as vm" ng-click="vm.newTree($event)" >Plant A Tree</button>
        </div>
        <div class="col-md-3 text1">
        </div>
        <div class="form-group col-md-6">
            <input type="text" placeholder="Location: e.g. city/zip" class="form-control">
        </div>
    </div>
</div>