<div class="container-fluid">
    <div id="header" class="on-top row max-width justify-content-between">
        <div class="col-4">
            <img src="../img/TreeLogoFinal.png" alt="Tree Logo" height = "186" width="119" >
            <div style="padding-left: 5px">
                <button class="btn btn-md success" ng-click="vm.newTree($event)" >Plant A Tree</button>
            </div>
        </div>
        <div class="form-group col-4">
            <input type="text" placeholder="Location: e.g. city/zip" class="form-control">
        </div>
    </div>
</div>