<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label>Type of the tree:</label>
        <input type="text" ng-model="dynamicPopover.content" class="form-control">
        <label>Age (optional):</label>
        <input type="text" ng-model="dynamicPopover.content" class="form-control">
        <label>Email</label>
        <input type="text" ng-model="dynamicPopover.content" class="form-control">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$ctrl.ok()" type="button">OK</button>
    <button class="btn btn-warning" ng-click="$ctrl.cancel()" type="button">Cancel</button>
</div>