<!--
<script src="script-tags-for-development.js"></script>
<script src="taxi-data.js"></script>
-->

<div ng-controller="TreeMapController as vm" ng-init="vm.init()" id="popupContainer">

    <div map-lazy-load="https://maps.google.com/maps/api/js">

        <ng-map center="32.7157, -117.1611" zoom = "13" on-center-changed="vm.centerChanged()" on-click="vm.getpos($event)">

            <marker ng-repeat="pos in vm.markerPos" position="{{pos}}"
             on-click="vm.markerClicked(event, pos)" icon="../img/small_tree.png">
            </marker>

        </ng-map>

    </div>

</div>