<div ng-controller="TreeMapController as vm" class="container" >
    <!--<ng-map default-style="true" zoom="8">-->

        <!--&lt;!&ndash; Window presented when the marker is clicked &ndash;&gt;-->
        <!--<info-window id="myInfoWindow">-->
            <!--<div ng-non-bindable>-->
                <!--<h6>{{vm.selectedCity.name}}</h6>-->
                <!--<h6>Latitude: + {{vm.selectedCity.latitude}}</h6>-->
                <!--<h6>Longitude: + {{vm.selectedCity.longitude}}</h6>-->
            <!--</div>-->
        <!--</info-window>-->

        <!--&lt;!&ndash; Setting the directions &ndash;&gt;-->
        <!--<directions draggable="true" panel="directions-panel" travel-mode="DRIVING"-->
                    <!--origin="{{vm.origin}}" destination="{{vm.destination}}"></directions>-->

        <!--&lt;!&ndash; Creating the markers from an Ajax Response &ndash;&gt;-->
        <!--<marker ng-repeat="city in vm.cities" position="{{city.latitude}}, {{city.longitude}}" id="{{city.idCity}}" title="{{city.name}}" on-click="vm.showCityInfo(event, city)"></marker>-->
    <!--</ng-map>-->
    <div map-lazy-load="https://maps.google.com/maps/api/js" style ="align:center">
        <ng-map center="32.7157, -117.1611" zoom = "14"></ng-map>
    </div>
</div>