#body {
    padding-top: 10px;
}

.navbar {
    background-color: white;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    background-color: #008a00;
    background-image: -moz-linear-gradient(top, #008a00, #006b00);
    background-image: -ms-linear-gradient(top, #008a00, #006b00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008a00), to(#006b00));
    background-image: -webkit-linear-gradient(top, #008a00, #006b00);
    background-image: -o-linear-gradient(top, #008a00, #006b00);
    background-image: linear-gradient(top, #008a00, #006b00);
}

div.relative1 {
    position: relative;
    left: 30px;
    bottom: 0px;
    border: 3px solid #73AD21;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.icon-white {
    color: white;
}

html, body {
    height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    align: center;
    float: left;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}


.form {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    align: center;
    float: left;
}

.background_image {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}

.row-bottom-margin {
    margin-bottom: 0 !important;
}

.spanning {
    display: inline-block;
}

.on-top {
    z-index:1000;
    opacity: 0.3;
}

.overlay {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

